body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
.contheader {
    text-align: center;
    width: 100%;
    padding: 4px;
    margin-bottom: 10 px;
    background-color: rgb(107, 109, 112);
}
.container
{
    max-width: 800px;
      margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px black ;
}

fieldset{
    border-radius: 5px;
    padding: 20px;
    border: 1px solid;
}
legend{
    font-size: large;
    font-weight: bold;
}

input[type="text"],
input[type="time"],
input[type="date"],
input[type="number"]
{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid rgb(69, 65, 65);
    border-radius: 3px;
    margin-top: 20px;
    box-sizing: border-box;
}
label{
    font-size: 14px;
}

button{
    margin: auto;
    padding: 5px;
    width: 250px;
    background-color: rgba(114, 117, 119, 0.616);
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 5px;
}

.info-section td{
    padding: 10px;
    vertical-align: middle;
}
.row{
    display: flex;
    justify-content: space-between;
    gap: 2%;
}
.row table td{
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}